.Rproj.user
.Rhistory
.RData
.Ruserdata
Week 1 - Programming For Data Science/p4ds_cache
Week 1 - Programming For Data Science/p4ds_files
Week 1 - Programming For Data Science/p4ds_files/figure-latex
Week 1 - Programming For Data Science/p4ds.knit.md
Week 1 - Programming For Data Science/p4ds.log
Week 1 - Programming For Data Science/p4ds.tex
Week 1 - Programming For Data Science/p4ds.utf8.md
.~lock.tmdb_5000_movies.csv#
03_DataVisualization/data_input
03_DataVisualization/rsconnect
youtube-dashboard.html
enlik_recall_flex_day2.html
.~lock.ign.csv#
VideoGame.zip
ks-projects-201801.csv
youtubetrends.csv
05_DVCapstone/051-movie-explorer
05_DVCapstone/003-reactivity
06_RegressionModel/RM/data_input
06_RegressionModel/RM/regression_files
06_RegressionModel/RM/regression_cache
06_RegressionModel/RM/copiers.csv
06_RegressionModel/RM/regression.pdf
06_RegressionModel/RM/regression.knit.md
06_RegressionModel/RM/regression.log
06_RegressionModel/RM/regression.tex
06_RegressionModel/RM/regression.utf8.md
regression.html
06_RegressionModel/RM/cache
06_RegressionModel/RM/figure
